[2015-02-03 13:20] Neograph734 opened #2 "Internet explorer versions < 11 not detected in compatibility mode"
This issue occured in Internet explorer 11 running in compatibility mode, emulating IE8-10. During that emulation the browser name and version were undefined.

Root of this cause is that `navigator.userAgent` contains the part 'Trident 7' (but not Gecko), so it does not fit any of the patterns.

Solution:
Update line 6 to `[ 'ie', /MSIE\s([0-9\.]+);.*Trident\/[4-7].0/ ],`

[2015-02-03 22:14] DamonOehlman commented on #2
Thanks - I'll make that change in the next couple of days - unless you beat me to it with a PR :)

[2015-02-04 12:21] Neograph734 commented on #2
Created a request in #3 .

[2015-02-06 11:51] #2 closed

[2015-12-03 03:01] contra opened #6 "detect ms edge browser"

[2015-12-03 03:26] #6 closed

[2015-12-05 08:27] contra opened #8 "detect react-native environment"

[2015-12-05 08:27] contra opened #9 "detect crosswalk environment"
![](https://crosswalk-project.org/assets/cordova-with-devtools.jpg)

[2015-12-05 08:27] contra opened #10 "detect cordova environment"

[2016-01-31 03:56] xiaobuu commented on #8
react-native exposes navgator.product as ReactNative

[2016-06-28 23:27] knomedia opened #15 "account for updated Opera UA strings"
current opera UA strings look like

`Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.84 Safari/537.36 OPR/38.0.2220.31`

as such they currently get mislabeled as 'chrome'

[2016-07-09 01:59] #15 closed

[2016-07-09 02:15] DamonOehlman commented on #8
@xiaobuu @matthisk any version information included anywhere as part of navigator information at all that we can use?

[2016-07-29 10:43] heruan opened #17 "Major/minor version exposed for comparison"
It would be great to have major and minor versions exposed as numbers for comparison, e.g.

[code]

[2016-08-04 07:38] DamonOehlman commented on #17
Sounds like a good idea to me - I'll take a look at what is required to get this done.  One question, in particular browsers (Firefox is one example I think), there is no patch version in the browser information.  What would you expect here?   My preference would be to set the patch value to 0 as I think I believe it's safe to infer that anyway.

[2016-08-04 07:39] DamonOehlman opened #18 "Detect Vivaldi"
Today I learned about Vivaldi: https://vivaldi.com/

[code]

[2016-08-04 08:31] heruan commented on #17
You're right, obviously we're talking about conventions on version numbering. I think the parsing should be best effort, something like:
[code]
then we would have:

| `version`  | `major` | `minor` | `patch` |
| ---------- | -------: | -------: | -------: |
| `"51.0.2704"` | `51` | `0` | `2704` |
| `"45.3"` | `45` | `3` | `undefined` |
| `"1.0.0-beta.3"` | `1` | `0` | `NaN` |

and I think this cou

[2016-08-05 04:14] DamonOehlman commented on #17
I the `1.0.0-beta.3` case do you think we should just return the string value in cases where it fails?  Or maybe selectively if there is a `-` character in the string?  I kind of feel bad having `NaN` returned.  I think `undefined` makes sense when it doesn't exist as it gives you more information than returning `0` in it's place.

[2016-08-30 09:06] snuggs commented on #18
Nice @DamonOehlman. Thinking about taking on this PR myself since there is no traction. Would you mind? I'll be sure to go over the regexp with you but seems like a simple add to the browser mapper
https://github.com/DamonOehlman/detect-browser/blob/master/lib/detectBrowser.js#L2

However would clean up the testing architecture a touch. `**/all.js` is a little bit passé IMHO and breaks node module

[2016-08-31 06:48] DamonOehlman commented on #18
@snuggs that'd be awesome - thanks. Probably worth doing any test refactoring in a separate PR so it can be reviewed separately. Maybe do that one first, and we can land that and then you can tackle the vivaldi rule.

[2016-08-31 10:54] snuggs commented on #18
Copy that chief! 💯

[2016-08-31 11:35] snuggs commented on #18
@DamonOehlman https://github.com/DamonOehlman/detect-browser/pull/21

[2016-09-02 07:44] snuggs commented on #18
OK We ready to handle this one now @DamonOehlman ? ;-)

[2016-09-04 13:55] DamonOehlman commented on #18
I reckon so 👍

[2016-09-06 09:09] lorro opened #22 "Detect "chrome for iOS""
When I run the module in chrome for iOS, the module returns "undefined" instead of "chrome".
Maybe something that needs to be caught too? :)

Greetings

[2016-09-06 10:37] snuggs commented on #18
Just got this. Laborday on it tomm.

[2016-09-19 06:59] gsotirov commented on #22
Hi,
I proposed a pull request with changes to the detection strings to support the above-mentioned browser (Chrome for iOS).

[2016-09-19 07:20] DamonOehlman commented on #22
Thanks @gsotirov :)

[2016-09-20 02:57] DamonOehlman commented on #22
Closed by #23 🍻

[2016-09-20 02:57] #22 closed

[2017-01-09 19:33] wikiwong opened #26 ".fill is not defined in IE"
Hi just FYI, https://github.com/DamonOehlman/detect-browser/commit/a54dc0ffde3df7f2429f801d88f290c2ba2f2c16#diff-480465dfe1db7da61cf594d184bfe7b4R26

`.fill` is not defined in IE, throwing a JS error.  It may need a polyfill

[2017-01-09 23:15] adamellsworth commented on #26
It's generally bad practice to alter an array's length manually (as this lib does with `version.length = 3`).

Is there any case in which the following wouldn't work?

[code]

[2017-01-09 23:34] adamellsworth commented on #26
Fixed with: https://github.com/DamonOehlman/detect-browser/pull/27

[2017-01-10 04:46] wikiwong commented on #26
Thanks @adamellsworth .

I think the original logic is a bit confusing.

[code]

The `.fill` function will fill in 0s from the 2nd index of the array, which works if the array is of length 2, but if it's of length 1, the 2nd element in the array will be undefined.

@adamellsworth I think your PR makes sense, but it assumes that `versions` is not an empty array (which may be a valid assumption, I'm

[2017-01-10 09:08] DamonOehlman commented on #26
Bringing in @baribadamshin as his PR introduced the `.fill` logic.  I'm sure there is a way we can achieve something similar without the fill (using `.concat` for example).  I definitely think @baribadamshin's PR moved things in the right direction, we should be able to iron this one out pretty quickly.

I'll try to keep monitoring this issue so we can get it resolved quickly.  On holidays at the

[2017-01-10 10:11] baribadamshin commented on #26
I think cycle or recursion it's overhead.

How about this?
`version.concat([0, 0]).splice(0, 3)`

if we have 1 element in version, we just fill empty numbers, in other case we cut excess.
[1] -> [1, 0, 0]
[1, 0] -> [1, 0, 0]

[2017-01-10 23:55] adamellsworth commented on #26
https://jsperf.com/fill-alternate-tests

I'm not sure If I'm writing those tests correctly, but if I am, push.apply runs faster.

[2017-01-11 00:02] adamellsworth commented on #26
https://jsperf.com/fill-alternate-tests/

Not sure if I'm setting these up correctly.

[2017-01-16 10:10] DamonOehlman commented on #26
Cool, folks thanks for the update.  Apologies for being offline for a bit.  I'm going to merge this and publish the update as `1.6.1` (removing the `package.json` update) and manually update using the `npm version` command which I tend to find is the best approach for this kind of thing, just prior to a publish :)

[2017-01-16 10:14] DamonOehlman commented on #26
@adamellsworth Actually I'm not sure I can do that (or it feels to impolite), I'll just merge it in as is - thanks.

[2017-01-16 10:20] DamonOehlman commented on #26
Merged and published as `1.6.2`.

[2017-01-16 10:20] #26 closed

[2017-01-16 22:03] CoreyCole opened #28 "Detect Private browsing"

[2017-03-21 04:32] mikeebee opened #30 "Returning undefined in WebView on iOS"
I was using `browser.name` to detect iOS. I noticed that my site crashed when being viewed from Facebook/Instagram/Twitter which uses WebView.

`TypeError: undefined is not an object (evaluating 'browser.name')`

Is this expected behaviour, or a bug?

Cheers,
Mike

[2017-03-21 05:32] DamonOehlman commented on #30
@mikeebee I think this would definitely be classified as a bug (based on the simple documentation in the README).

I'll have a look ASAP and get back to you on that.  My guess is that particular apps customise the useragent for their applications (which [seems [quite easy](http://stackoverflow.com/questions/478387/change-user-agent-in-uiwebview-iphone-sdk)).

Unfortunately it looks like I have cod

[2017-04-03 13:52] vladimirivanoviliev opened #32 "Opera mini throws error"
When trying to detect Opera mini browser on iOS, the page is not loaded at all, possibly due to JavaScript error in the package. The UserAgent string is the following:

`Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_5 like
Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) OPiOS/14.0.0.104835 Mobile/13G36 Safari/9537.53"`

After a wild guessing that the browser is not in the list of detected browsers, I

[2017-04-03 14:46] vladimirivanoviliev commented on #32
Also the Opera regular browser (not mini) on iPhone reports the following UserAgent:

`Opera/9.80 (iPhone; Opera Mini/14.0.0/60.271; U; en) Presto/2.12.423 Version/12.16`

Finally if actually an error is thrown if current browser is not matched by any UA string in the list (didn't have the time to debug) I think default values should be introduced - for example `uknown browser` ...

[2017-04-04 00:09] DamonOehlman commented on #32
@vladimirivanoviliev Thanks for reporting this, I created a PR to address this issue (where a browser is not correctly detected) - see #31.  However, the more I think about this, the more I realise it's a documentation issue.  I'll update the README now to cater for how to deal with the unknown browser case.

[2017-04-04 00:39] DamonOehlman commented on #32
@vladimirivanoviliev I've updated the examples in the README, let me know if this makes things cleaer.

[2017-04-04 00:40] DamonOehlman commented on #30
@mikeebee I've updated the examples in the README to clearly show that an `undefined` result means the browser wasn't detected (as per my comment in #31).  Can you please take a look and see if this usage example makes sense to you?

[2017-05-08 23:21] DamonOehlman commented on #30
Sweet - closing :)

[2017-05-08 23:21] #30 closed

[2017-05-28 12:24] SeYoungKim opened #33 "About detecting other browsers"
If I use this library in other in-app browsers, I found that "browser" instance is "undefined".
The browsers I tested on were "In-app browser in NaverApp mobile app" and "In-app browser in KakaoTalk app".
These are both mobile apps and very famous apps in Korea.
In NaverApp or kakaotalk(used in Korea), I got navigator.userAgent as follows.
(I used

alert(navigator.appName + "\n" + navigator.appVer

[2017-05-29 01:09] DamonOehlman commented on #33
@SeYoungKim Handling unknown browsers has come up before (see #30) and initially I thought that would be a good thing to do.  After actually writing a PR myself to add that functionality I considered that the current API is probably more correct (when you consider how things like flow / typescript might describe the API).

As such I did update the readme to show the following code example rather t

[2017-05-29 01:32] DamonOehlman commented on #33
@SeYoungKim I've added some notes on what a PR might contain to the README:

https://github.com/DamonOehlman/detect-browser#adding-additional-browser-support

I did go looking for a good example of a PR, however, couldn't find one.  I'm happy to use your case and make a reference PR myself if that would help you.  Is there some way that you can provide the text for those user agent strings rather

[2017-05-30 09:51] dannybloe opened #34 "Module doesn't detect safari/ios when opened from the spring board (save site to springboard)"
The useragent is slightly different when run from the springboard.

[2017-07-19 16:40] kjacobson opened #35 "IE11 user agent string not matched"
I encountered the following UA string in our logs:
`Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; rv:11.0; MSN 11.61; MSNbMSNI; MSNmen-us; MSNcOTH) like Gecko`
It seems to be a valid UA string for IE11 on Windows 10 Desktop per https://browscap.org/ua-lookup.

Per browsercap, it seems to be the same browser version that reports this string:
`Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; .N

[2017-07-20 01:52] DamonOehlman commented on #35
Closed by #36.  Thanks again.

[2017-07-20 01:52] #35 closed

[2017-08-06 04:26] 5punk commented on #34
@dannybloe Can you post an sample of the user agent string?

[2017-08-06 04:58] 5punk commented on #10
@contra Can you provide a sample of the `user agent string` for Cordova?

It seems like you can [set any user agent string you want](https://github.com/LouisT/cordova-useragent).
Why not just add a custom user agent string and monitor for that value for your logic?

[2017-08-06 06:23] 5punk commented on #28
@DamonOehlman
Is this something you wanna add?
It can be done.

[2017-08-10 01:10] #18 closed

[2017-08-16 12:23] DamonOehlman commented on #33
Fixed by #39 - big thanks to @5punk for that.

[2017-08-16 12:23] #33 closed

[2017-08-22 10:36] ashubham opened #41 "use a single main file instead of browser/main."
It would be great if we could move to a single `main` index.js for Node/Browser.

The browser/main distinction which we currently have in package.json does not play nicely with some module loaders (I am using SystemJS).

It does not even seem to appear in the official npm docs https://docs.npmjs.com/files/package.json

[2017-08-22 11:31] DamonOehlman commented on #41
Happy to investigate this.  The browser field is something that is defined by browserify, see:

https://github.com/substack/node-browserify#browser-field

I guess I'd need to get a feel for how many people are using this in both a node and browser environment within their projects (i.e. are people using the module in a isomorphic project sense and tweaking behaviour based on what `detect-browser`

[2017-08-24 00:31] DamonOehlman commented on #28
If it's something that can be done, it sounds reasonable to me.  How do you think it would look in terms of the results returned from the detection?  Do you think it would be an additional attribute (e.g. `browser.private`) or a different browser name (e.g. `chrome-ingonito`).

[2017-08-31 17:22] JosefJezek opened #44 "Facebook App 138 on iOS 10.3"
[code]

https://developers.whatismybrowser.com/useragents/parse/

![image](https://user-images.githubusercontent.com/2110319/29936237-bc0509aa-8e81-11e7-9521-66bc0dfb9e29.png)

[2017-09-06 07:46] DamonOehlman commented on #44
So if `detect-browser` was to report something like the following for the facebook app, do you think that would work?

[code]

I might see if I can get the information from the above site from the iPhone equivalent of the app.  Just trying to work out how to provide some distinction for platforms.  I never intended the detection to include any kind of OS or platform data, so it could be that we en

[2017-09-06 12:50] 5punk commented on #44
Well, do we want to introduce `device_type`?

[2017-09-06 12:59] 5punk commented on #28
I was thinking a Boolean flag.
Mind you, this is a javascript file on its own that checks for technical limitations on the browser to what is "normally" available to detect if Incognito is on.

It's not a perfect system, and cannot be supported by all browsers.

[2017-09-06 14:42] DamonOehlman commented on #44
Undecided myself.  I don't there is any harm in it and it more correctly represents things rather than adding it to the name by default (if someone wants to construct a `switch` statement using name and device type they could use an ES6 template or similar).

I reckon `deviceType` is probably the appropriate property name, as `device_type` is quite pythonesque, and JS tends to go with camelCase mo

[2017-09-06 14:52] DamonOehlman commented on #44
Maybe `platform` is a more appropriate attribute also.  It's possible that folks might expect more detail on a property called `deviceType` which we probably wouldn't want to give as I think `detect-browser` should strive to remain a minimalist UA sniffing package.

A simple example I'm thinking of would be MS edge:

[code]

Where platform could be values such as `xbox-one`, `win10-mobile`, `win10

[2017-09-07 02:04] 5punk commented on #44
Yeah,
we can probably try that.

[2017-09-14 09:27] winghimjns opened #45 "Feature for detecting operating system?"
Hello Damon, I have been using the detect-browser package via npm at work for couple of projects.

This package is good and easy to use, usually developers don't spend time on user agent. Before use this package, I used to search online for the regex to test the user agent string. Now this is really helpful.

Not as complicated as I don't want it be, but still has the feature that I need.

How do

[2017-09-14 10:29] DamonOehlman commented on #45
@winghimjns It could definitely be done, and I have thought about it a couple of times.  I've just checked the consistency of reporting the OS across safari, chrome and firefox on my machine here and it is something that could be extracted pretty reliably.  I do wonder if that's the case for most browsers across all OSes though (including mobile OSes).

@5punk this seems related to #44 so I was wo

[2017-09-15 02:11] 5punk commented on #45
@DamonOehlman
I can pick this up.

[2017-09-15 02:15] 5punk commented on #28
Due to the fact that there is no standardized way to detect incognito mode, and most importantly every platform and browser has it's own irregular method of checking absence of some API function; I was thinking we shouldn't implement this.

[2017-09-15 06:19] DamonOehlman opened #48 "Implement ESLint on the repo"
Given there's a few of us committing code to the repo now, all with slight variations in style I think we should probably introduce eslint (and probably an `.editorconfig` file) to help us keep things consistent.  I'm pretty flexible with code style, so @5punk if you have strong opinions LMK.  If not, perhaps we should just adopt one of the well known eslint styles such as `eslint-config-airbnb` s

[2017-09-15 14:30] 5punk commented on #48
Prettier

[2017-09-20 18:07] dlong500 opened #49 "Usage in apps with SSR (server-side rendering)"
Could the `detectBrowser` function be exported so it could be manually called in a server-side environment?

That way a user agent from a client request could be passed to the `detectBrowser` function and the resulting detected information could be used on the server before anything is even sent to the client.

I also think it would be a good idea to unify exports into a single file like was reque

[2017-09-21 01:13] DamonOehlman commented on #49
@dlong500 This is the kind of thing I have started to implement in #46.  I just need to rebase this on some recent changes that @5punk has implemented for OS detection and we can look at getting this through.

[2017-09-21 02:23] dlong500 commented on #49
Ok, great.  I had forgotten to look at the PRs.

[2017-09-21 12:40] DamonOehlman commented on #49
All good.  Just put the finishing touches on that PR so once it's reviewed hopefully we can land it soon.  If you would like to take the branch for a spin in the meantime I'd be interested to know if you had any early feedback on the PR that you'd like me to address.

You should be able to bring the branch into your project with something like (IIRC) the following in your `package.json`

[code]

[2017-09-23 20:57] #45 closed

[2017-09-25 08:42] DamonOehlman commented on #49
@dlong500 `2.0.0` has just been released, which I hope does what you need - release notes here:

https://github.com/DamonOehlman/detect-browser/releases/tag/v2.0.0

LMK how you go.  Expecting to have to address a few issues along the way so keen to do that sooner rather than later.

[2017-09-25 08:43] DamonOehlman commented on #41
@ashubham If you have a chance it would be great if you can have a look at the [`2.0.0`](https://github.com/DamonOehlman/detect-browser/releases/tag/v2.0.0) release as I think this should be getting close to working now.  I haven't tried it with SystemJS yet, but I expect we are a lot closer than before so can roll out patches (and hopefully some tests along with that) to get SystemJS compatibilit

[2017-10-21 06:21] EddieOne commented on #34
Sorry, it's a screenshot. I guess it is the whitespace after the version causing the issues. I'm not great at regex though.

![image](https://user-images.githubusercontent.com/1835156/31848774-d52dbbfc-b5f5-11e7-9b96-2522ce8e4e77.png)

[2017-10-21 07:30] EddieOne commented on #34
Ah I think I spotted the issue. I believe Chrome is being wrong Identified with Safari. This page has all the details. https://developer.chrome.com/multidevice/user-agent

[2017-10-27 09:22] ashubham commented on #41
@DamonOehlman Thanks a ton, for the changes, I had been using my fork as I only needed to use this in the browser. Will now switch to using this instead. Will close, as soon as I test this.

[2017-10-27 10:51] DamonOehlman commented on #41
@ashubham no worries, eager to hear if it all works for you.  If it doesn't we'll keep tweaking it until it does :)

[2017-10-30 03:49] 5punk commented on #41
Closing since it's fixed by @DamonOehlman

[2017-10-30 03:49] #41 closed

[2017-10-30 03:49] 5punk commented on #49
Closing due to inactivity.
Possibly already solved.

[2017-10-30 03:49] #49 closed

[2017-10-30 03:50] 5punk commented on #44
Fixed.
Closing.

[2017-10-30 03:50] #44 closed

[2017-11-02 12:38] hhovakimyan opened #50 "Opera browser is not detected"
I receive this user agent from one of  my clients
`Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36 OPR/48.0.2685.52 (Edition Campaign 34)`
And `detect-browser` package can not detect browser with this user agent. I use version 2.0.0

[2017-11-04 16:11] 5punk commented on #50
Alright.
Let's have a look see.

[2017-11-08 17:32] dchhetri opened #51 "Can we export browsers name into constants?"
It would be nice if we could do something like
[code]

[2017-11-15 13:40] DamonOehlman commented on #51
That doesn't seem unreasonable to me, though if you are considering using TypeScript (see bindings [here](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/detect-browser/index.d.ts)) or Flow (I should write some bindings), you get the benefit of string literal union types (see below from the typescript binding):

[code]

This would provide you a better layer of protection than

[2017-12-24 13:30] Globik opened #53 "Opera-mini"
Is opera-mini can be detected with this module?

[2018-01-04 14:00] cadichris commented on #17
In case the `browser.version.split(".").length` is equal to 3 (i.e. the `version` *is* semver-compliant), you may use https://github.com/npm/node-semver to express your requirements.

For instance something like `semver.satisfies(browser.version, '>=50.x.x')`

This is not 100% related to the issue, but I figured developers looking into major/minor parsing could be interested in this method.

[2018-01-18 05:58] shengshiqi opened #54 "Can't resolve `os` in file [index.js]"
in line 73, required module `os`, but not found in package.json.

[2018-01-22 08:56] shengshiqi commented on #54
node version: 7.6.0, package bundlers: FIS, TERMINAL print  [WARNI] Can't resolve `os` in file [/node_modules/detect-browser/index.js], did you miss `npm install os`?

[2018-01-23 13:29] udos commented on #53
just happened to take a look at this package and this issue.

looking at the code (line 115)
https://github.com/DamonOehlman/detect-browser/blob/c15fcb934d721966b972a07c7c22954afc341b25/index.js#L115

it does not appear to explicitly identify _Opera Mini_. it will just identify the browser as _opera_.

note (maybe useful for @DamonOehlman in case he wants to extend _Opera Mini_ identification): ht

[2018-01-23 15:16] Globik commented on #53
@udos  I see. Last time I figured out opera-mini is not what I need to detect.
For example, mobile devices, their OS, Platform, Version is a need to detect.
A device os Android 4.3 has opera-mini but with webkit build. So no need any more in detecting mini. As this gives nothing per se.

[2018-01-30 06:43] Aqours opened #55 "Support more information"
Chrome useragent string: `Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.119 Safari/537.36`

[code]

Support more information please.

[2018-02-05 21:33] thetrevorharmon opened #56 "Facebook & Instagram In-App Browsers Not Recognized"
Facebook and Instagram both use custom user-agent strings that don't match any of the pattern checks, even though they use a Safari-based or Chrome-based rendering engine. Here are the user-agent strings:

**Facebook for iOS:**
`Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_5 like Mac OS X) AppleWebKit/604.5.6 (KHTML, like Gecko) Mobile/15D60 [FBAN/FBIOS;FBAV/157.0.0.42.96;FBBV/90008621;FBDV/iPhone9,1;F

[2018-02-22 11:24] DamonOehlman commented on #56
@tdharmon thanks for the logging the report with detailed user agents.  I'll look at adding these in as soon as I can.  Apologies for taking a while to respond to the issue.

[2018-03-06 19:00] TimAstier commented on #56
Also facing this issue.

I found only a few resources about how to detect FB in-app browser.
I tried this but without great success so far:

[code]

A solution embedded into this package would be awesome!

[2018-03-22 20:58] B-Stewart commented on #17
Any update on this? For me, I would prefer returning either a number or `undefined`. That way I could run math operations on them such as `IE>9` and not be so worried about parsing out the string as a proper number.

[2018-03-30 13:58] anna-kartynnik opened #59 "Add information about OS detection to README"
Could you please add the information that you also detect OS into README? I think it'd be nice to see such information when you decide whether to use this library or not.

[2018-04-05 05:26] DamonOehlman commented on #59
Absolutely - good suggestion :)

[2018-04-09 17:14] #28 closed

[2018-04-13 11:22] v3nt opened #63 "use in js file for website?"
How can i run this in a js file for website?

`scripts.js:10851 Uncaught ReferenceError: require is not defined`

Adding detect-browser/index.js to my main scripts file via grunt.

Any pointers/quick fixes welcome!

[2018-04-20 11:15] DamonOehlman commented on #63
Hey @v3nt - apologies for the delay in getting back to you.  The package is definitely very [`browserify`](https://github.com/browserify/browserify) focused at the present.

I do agree though it's probably something that would be useful as a standalone script.  Rather than include something in this repository I think it's probably better if we look at a way to publish the script to [cdnjs](https:/

[2018-04-25 11:24] v3nt commented on #63
@DamonOehlman thanks - yes seems like it would be fairly possible. I'm not really sure what 'browserify' is tbh...

[2018-05-04 00:31] markgoho-EDT commented on #54
Getting this as well in an Angular project. v6

[2018-05-05 12:26] DamonOehlman commented on #54
Looks like I need to perform a better "is node" check.  Currently the test is:

[code]

Which seems to be firing false positives in particular environments (Angular v6 being one example).  Alternatively, perhaps I should consider removing the ability to detect if the code is running on the server at all.  I doubt it's being used by many people and as long as it's done in a major version bump that

[2018-05-21 08:50] winghimjns opened #66 "Supporting of WebView in iOS application"
Hi, I am happy to open my second issue post here and helping to improve this package again.

I am a web developer and I am reported that a client found the web page "doesn't work" (that's how they usually explain  ¯\_(ツ)_/¯ ).

I finally realised the issue is when the website is opened in iOS mobiles WebView (LinkedIn and Instagram in my case), `const browser = detect()` is getting`null` instead o

[2018-05-24 05:07] DamonOehlman commented on #66
@winghimjns Definitely keen to have you submit a PR :)

My preference is to go with option 2.  Thanks to @Enijar for the investigation you should be able to do something similar to what is suggested above.  You'd need to update the regex so it would extract the version number also, and I'm happy to help with that on the PR itself.

Additionally, when using attempting to use the struct returned by

[2018-05-24 08:46] Enijar commented on #66
@DamonOehlman I've sent you a [Pull Request](https://github.com/DamonOehlman/detect-browser/pull/67).

[2018-05-24 11:18] DamonOehlman commented on #66
@winghimjns resolved by #67 courtesy of @Enijar

[2018-05-24 11:18] #66 closed

[2018-05-31 17:33] damsorian commented on #54
I have the same issue

[2018-06-05 10:06] euxn23 opened #69 "I want to distinguish iPad from iOS"
Now using `browser.os` returns `'iOS'` if browser is both iPad and iPhone.
I want extra function `browser.isMobile()` or parameter `browser.devise`.
How do you think? @DamonOehlman
(And if you say yes, I'd like to help develop it.)

[2018-06-06 00:54] DamonOehlman commented on #69
@euxn23 I think we'd need to put a bit of thought into it.  I have a `3.0` release planned (see #65) and this would be the perfect opportunity to add some functionality like this.

Did you have any parameters that you thought would mean that device A was considered mobile while device B was not?  The comparison between iPad and iPhone is a good one.  I probably would have considered both mobile, b

[2018-06-08 14:09] vstets commented on #69
@DamonOehlman When are you going to release 3.0 version? Pull request #65 was created May 5, 2018, one month ago.

[2018-06-13 04:59] DamonOehlman commented on #69
@vstets Yep, was looking to get some feedback from the other contributors on this package.  I'll ping in that PR now.

[2018-06-13 08:10] euxn23 commented on #69
In my usecase, rewrite viewport if iPad.
Using codes is as below.

[code]

If this doesn't have any problem, I'll make a pull-request.

[2018-06-25 08:22] DamonOehlman commented on #69
@vstets @euxn23 So PR #65 will be merged shortly, however, I won't do the `3.x` release until we have decided exactly how we want to tackle this.  I personally feel like we might be overstepping what `detect-browser` was originally intended for, but can understand why you want this functionality.

So going back to the core issue of wanting to distinguish between `iPad` and `iPhone`, can we do this

[2018-06-25 09:05] DamonOehlman commented on #69
@vstets @euxn23 See PR #70 for an example.

[2018-07-01 21:31] edaniels commented on #54
@DamonOehlman do you think you can release a major version bump for this this month? Thanks!

[2018-07-04 03:31] edaniels commented on #54
Thanks!

[2018-09-15 06:32] 5punk commented on #54
Closing as inactive.

[2018-09-15 06:32] #54 closed

[2018-09-15 06:32] 5punk commented on #69
Closing as inactive.

[2018-09-15 06:32] #69 closed

[2018-09-15 06:33] 5punk commented on #63
Closing as inactive.

Creating separate issue for tracking progress on new architecture.

[2018-09-15 06:33] #63 closed

[2018-09-15 06:34] 5punk commented on #53
This should be available in `v3` of detect-browser.

Please reopen the issue if this is not the case for opera-mini

[2018-09-15 06:34] #53 closed

[2018-09-15 06:35] 5punk commented on #51
enums are a great feature.
We should definitely consider @types/detect-browser

Closing because we will track this feature request in a new architecture story

[2018-09-15 06:35] #51 closed

[2018-09-15 06:39] 5punk opened #72 "[REFACTOR] v4 detect-browser"
Below is a list of requests we wish to focus on for our user base, followed by a list of potential solutions that can solve those requirements.
This list will constantly be updated and modified based on the comments and input from the community.

## Feature requests:

- [ ] Types
- [ ] Export set of BrowserNames, OS the package can detect (Enums)
- [ ] Handling consumption in multiple ways (amd /

[2018-09-25 21:31] chobo2 opened #73 "Example Code Does not Run in IE 11"
Hi

your example code fails when trying to see if this plugin works with IE 11

http://requirebin.com/?gist=DamonOehlman/a96b45bc4614b23671eac8721b781deb

SCRIPT5022: TypeMismatchError
File: bundle.js, Line: 18, Column: 12679

[2018-09-26 02:17] DamonOehlman commented on #73
@chobo2 - thanks will investigate.

[2018-09-27 00:17] 5punk commented on #72
@DamonOehlman

[2018-10-10 13:55] sargant opened #74 "TypeScript support?"
Hello, would there be any interest in TypeScript typings for this project? I'm willing to write them myself, but in terms of ongoing support, would they be better off within this repo, or in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped)?

[2018-10-11 20:47] DamonOehlman commented on #74
@sargant I think TypeScript typings would be excellent.  More than happy for them to be maintained as part of the project.  Ideally with some kind of test as part of the travis job to make sure they haven't gone out of sync with the API (I've no idea if this is possible - just thinking out loud).

I'm taking a few weeks off at the moment renovating a house for sale, but checking in regularly.  I'm

[2018-10-11 20:55] DamonOehlman commented on #72
@5punk Again sorry for the delay - especially when I've only got such a short response:

"All sounds great"

I think the highest priority is definitely the UMD build targets.  Happy for whatever source language / structure changes too.

[2018-10-31 09:50] themaawaa commented on #74
Defo interested in typescript support

[2018-11-01 21:50] amaidah commented on #73
Seems to fail on IE11 as well

[2018-11-09 02:27] Yangfan2016 opened #75 "The safari browser in windows is not supported"
[Safari on win7 ](https://developers.whatismybrowser.com/useragents/parse/273515-safari-windows-webkit)
![image](https://user-images.githubusercontent.com/17830872/48240049-3aada880-e40c-11e8-8697-3d9db270f5fd.png)

![image](https://user-images.githubusercontent.com/17830872/48239392-acd0be00-e409-11e8-9735-b28679cc7f58.png)
![image](https://user-images.githubusercontent.com/17830872/48239406-bc50

[2018-12-05 16:52] carusology commented on #74
h/t @DamonOehlman

If you write it, I'll give it a review. Thanks for creating a helpful module.

[2018-12-11 20:50] brianmriley commented on #74
I'd be more than happy to review as well.

[2018-12-12 09:38] DamonOehlman commented on #74
PR available in #79 for any interested parties.

[2019-01-03 02:56] DamonOehlman opened #83 "Add a process for using semantic-release/github (or similar) to publish UMD file"
The ability to access the UMD file for `detect-browser` is important, as it's something that folks in non-commonjs environments have expressed an interest in using.  It is, however, unusual to commit generated files (as `index.js` is post the typescript conversion to the repo).

Using something like https://github.com/semantic-release/github and integrating it into the publishing flow would be an

[2019-01-07 10:44] tomasztomys opened #84 "Warning in webpack - critical dependency"
[code]

only in v4, in v3.0.1 it's okey

[2019-01-07 10:53] DamonOehlman commented on #84
@tomasztomys  Thanks for the report.  Just wondering if you could provide a few more details on your environment configuration, such as a partial `webpack.config.js` file (i.e. just the bits that don't expose important stuff about your project).

[2019-01-07 11:09] tomasztomys commented on #84
config.js
[code]

and dev.config.js (merged with config.js)
[code]

[2019-01-07 11:12] DamonOehlman commented on #84
Cool thanks - it's pretty late here (in Australia), but I'll try to take a look first thing tomorrow and put a small repro case together to see if I can work out what is going on.

[2019-01-07 14:38] bertrand-riviere commented on #84
hello,
i have the same warning than @tomasztomys and use the same kind of config (babel-loader, @babel/polyfill, etc..)
(thanks for this nice project!)

[2019-01-07 18:48] severi commented on #84
this also happens when using the create-react-app https://github.com/facebook/create-react-app

[2019-01-07 20:42] cs-NET commented on #84
It appears that because "require" is passed in as a variable via your factory constructor webpack has no way of knowing how it may be used therefore cannot optimize dependencies.

Does "require" even need to be passed into factory constructor as it does not appear to be used?

[2019-01-07 21:54] DamonOehlman commented on #84
@cs-NET That explains everything.  And no, not at all.  The only reason it's done that was is that I opted to go with a umd transpilation target from typescript.  This is mainly because a few people in the `requirejs` landscape have wanted to be able to use `detect-browser` also.

I haven't yet actually published this anywhere, so I think it's safe to switch typescript back to the commonjs transpi

[2019-01-07 22:20] #84 closed

[2019-01-08 05:55] limonte opened #86 "appveyor - Object doesn't support property or method 'fill'"
https://github.com/sweetalert2/sweetalert2/pull/1358

https://ci.appveyor.com/project/limonte/sweetalert2/builds/21448488

anything I'm missing or there's something wrong with a new major?

[2019-01-08 09:09] DamonOehlman commented on #86
Technically, something is wrong with the new major given `detect-browser` purpose.  As the current transpilation target (source code is in TypeScript now) is `es5` that's going to stop it working on a few different browsers - which kind of defeats the point.

I'll take a look at the generated JS output, and likely just change the transpilation target to `es3` and push a new release.

[2019-01-08 09:13] DamonOehlman commented on #86
Looks like TypeScript preserves my Array#fill usage in the code.  My expection was that it would do some fancy transpilation magic.  This should make things nice and simple really as I'll just fix that code instead.

Something I'll have to be aware of in the future though.

[2019-01-08 09:24] DamonOehlman opened #88 "Look at implementing karma tests"
It's been a while since I've looked at SauceLabs or BrowserStack pricing for opensource projects, but having something like this would catch things like #87 early.

[2019-01-08 09:37] limonte opened #89 "IE 11 - Object doesn't support property or method 'find'"
The IE11 build on AppVeyor is failing after updating from 3.0.1 to 4.0.2: https://github.com/sweetalert2/sweetalert2/pull/1358

The build log: https://ci.appveyor.com/project/limonte/sweetalert2/builds/21457395

[2019-01-08 09:38] limonte commented on #86
Now, there's another similar issue: https://github.com/DamonOehlman/detect-browser/issues/89

[2019-01-08 09:43] DamonOehlman commented on #89
Thanks for finding and reporting these.

[2019-01-08 09:45] limonte commented on #88
SauceLabs account is free for OSS. Create an account: https://signup.saucelabs.com/signup/trial then contact hello@saucelabs.com and ask them to convert free trial account into a free OSS account.

[2019-01-08 10:02] DamonOehlman commented on #88
Cool - I'll have a look at that tomorrow.  For now, I'll get on and fix #89 :)

[2019-01-08 10:09] #89 closed

[2019-01-08 10:13] DamonOehlman commented on #89
Published `4.0.3` (hopefully this is the last one).  I think switching the `tsconfig.json` file to only expecting `es5` constructs in the code will be a big help.

[2019-01-08 11:20] limonte commented on #89
All good now, thank you @DamonOehlman

[2019-01-09 11:17] mois-ilya commented on #50
`Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.73 Safari/537.36 OPR/34.0.2036.25 (Edition Yx 01)`

New RegExp for OPR userAgent
`/OPR\/([0-9\.]+)[\s]*?(\(.*\)|$)$/`

[2019-01-10 09:32] toverux commented on #86
TypeScript is a type-checker and simple transpiler, not a general purpose polyfill.
It has a small internal runtime to emulate features like async/await or generators, transpile classes etc, but it will never polyfill ES _features_ other than transpiling down _language syntaxes_ to older ones.
After all, you Array.fill may com from another polyfill, be monkey-patched, etc. It would be non-determin

[2019-01-22 19:32] jerroydmoore opened #91 "tsconfig.json: Syntax Error"
I'm using this package with gatbsyJS. Ever since adding this package to my project, the following syntax error reported:

[code]

[2019-01-22 22:41] DamonOehlman commented on #91
@jerroydmoore thanks for the report - I'll take a look as soon as I can.  Guess it's a good time to checkout Gatsby.

[2019-01-23 00:11] jerroydmoore commented on #91
I think it's simply the hanging comma on [line 10](https://github.com/DamonOehlman/detect-browser/blob/3c42e74f9f47c0befd75ced0aa192476d16bf632/tsconfig.json#L10) is a syntax error for JSON files (even though its legal in JS files)

[2019-01-23 00:55] DamonOehlman commented on #91
Sweet, that's an easy fix. Will fix and publish a patch version.

[2019-01-23 00:59] DamonOehlman commented on #91
@jerroydmoore Done. `4.0.4` published.

[2019-02-06 10:57] SmolinPavel opened #93 "Add default export for jest mocking"
## Add default export for jest mocking

As far as I see we can only `import { detect } from 'detect-browser';`
So when I try to mock this function in jest
[code]
there's no chance to do this in a regular way.

I think adding a simple `export default { detect: ... }` could be a solution.

Thanks!

[2019-02-06 11:07] SmolinPavel commented on #93
###UPDATE

Found a solution:

[code]

Hope this helps someone having the same issue :)

[2019-02-06 11:09] DamonOehlman opened #94 "Add regex security testing as part of the CI pipeline"
Obviously very keen to make sure that we keep an open approach to accepting PRs, but we have to be aware that `detect-browser` is driven entirely by regexes running in the browser.  Regexes are well known to have a significant risk factor around vulnerabilities so I think we need to some kind of testing as part of our CI pipeline.

I need to dig up an email around this where a friendly soul pointe

[2019-02-06 11:12] DamonOehlman commented on #93
@SmolinPavel thanks so much for posting both the issue and the solution (in record time I might add).  Feel free to close it when you are ready.  It should still be searchable and thus discoverable for anyone who might have the same issue in the future.

[2019-02-15 18:24] jerroydmoore commented on #91
LGTM

[2019-02-15 18:28] jerroydmoore opened #95 "No inputs were found in config file [typescript]"
When running in Visual Code, The following error is reported:

[code]

According to [SO](https://stackoverflow.com/questions/41211566/tsconfig-json-buildno-inputs-were-found-in-config-file), it's because there are no ts files in the project. It recommends adding an empty ts file. But maybe a better option is to remove the tsconfig.json until the project starts to add ts files?

[2019-02-19 14:31] centigrade-thomas-becker commented on #74
#79 has been merged - this issue should be closed

[2019-02-19 23:02] DamonOehlman commented on #74
@centigrade-thomas-becker Agreed - Typescript support has been implemented and available since `4.0.0`.  Closing the issue.

[2019-02-19 23:02] #74 closed

[2019-02-19 23:02] #93 closed

[2019-02-19 23:03] #91 closed

[2019-02-19 23:03] #72 closed

[2019-02-19 23:04] DamonOehlman commented on #72
@5punk I've closed this as I think we hit the critical items on the list.  Feel free to create separate issues for any of the items that we didn't address (e.g. a UMD build).

[2019-03-06 17:33] pedrodurek commented on #17
`const [major, minor] = browser.version.split('.').map(Number);`

[2019-04-06 23:21] DenisNP opened #97 "Xiaomi MIUI Browser support"
Please add support of MIUI browser which installed on most modern Xiaomi phones.

UserAgent is like:
`Mozilla/5.0 (Linux; U; Android 7.0; en-us; MI 5 Build/NRD90M) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/53.0.2785.146 Mobile Safari/537.36 XiaoMi/MiuiBrowser/9.0.3`

[2019-04-08 08:22] DamonOehlman commented on #95
@jerroydmoore Apologies for the delay in getting back to you.  I think I understand why this is happening and that's because during the npm publish step we remove all the `src/*` files.  I expect that if I add `tsconfig.json` to `.npmignore` that should fix the problem.  Will do a little bit of reading on that and if it does seem to be the appropriate fix then I'll do that.

[2019-04-08 08:28] DamonOehlman commented on #95
Yep, simple fix.  Published in `4.2.1`.  I'll leave the issue open and if when you get a chance if you can validate that the issue has been resolved that would be appreciated.

[2019-04-08 09:09] DamonOehlman opened #99 "Consider including a "family" field"
With a lot of chrome-like browsers available on Android phones, and the fact that `detect-browser` evolves to identify more of them (PR #98 as an example) I think we are heading to the point where a general 'family' field might be of use in the result data.

This would open up the possibility of having logic (note pseudo code) that would allow for the following:

[code]

Using logic like the above

[2019-04-09 06:38] immohdali opened #100 "How to get browser URL"
I am working at electron js. I want to capture Browser URL

[2019-04-10 09:28] #97 closed

[2019-04-10 09:33] DamonOehlman commented on #97
@DenisNP published in `4.3.0`

[2019-04-10 09:37] DamonOehlman commented on #100
Seems like more of an electron question - if I knew I'd answer it for you though!  I just did a quick scan of the docs and couldn't see anything obvious unfortunately.

[2019-04-10 09:37] #100 closed

[2019-04-23 12:56] keisnet opened #105 "Edge is detected as Safari on iOS"
Hi!

First of all, great package!

I may have found a bug regarding the use case of Edge for iOS, not entirely sure whether this issue is on your side of Microsoft's. Anyhow, here it is.

**When using Edge for iOS:** When `detect();` is used to retrieve the name of the browser, Edge with it's user-agent of

will give you a miss-leading answer, namely "ios". Although when using the user-agent that

[2019-04-24 22:22] DamonOehlman commented on #105
@keisnet Thanks for the information.  We've had a few public holidays recently in Australia and I'm currently on a short break with my family.  As soon as I'm back in Sydney I'll take a look at this.  Looking at the user agent string, we can definitely do better.

[2019-04-25 10:08] keisnet commented on #105
@DamonOehlman Thanks for the quick reply! Enjoy the holidays!

[2019-05-03 12:39] kovacss opened #107 "Detect chrome webviews on android"
Feature:
- Detection of webview on Android: https://developer.chrome.com/multidevice/user-agent

Pull-Request:
- https://github.com/DamonOehlman/detect-browser/pull/106

[2019-05-07 17:26] #107 closed

[2019-05-20 17:35] RusseII opened #110 "ios-webview is shown as just "ios""
![image](https://user-images.githubusercontent.com/15036618/58040706-12fa7400-7b04-11e9-8245-fe648c4ed799.png)

I believe this should be detected as ios-webview

[2019-05-21 01:17] DamonOehlman commented on #110
Thanks @RusseII - would you mind dropping the UA that the webview is reporting into this issue and I can do some further testing to get to the bottom of this please?

I think some folks have used sites like https://www.whatismybrowser.com/detect/what-is-my-user-agent to achieve this in the past.  I think you should be able to select and copy and paste the text into this issue.

Thanks heaps,
Damon

[2019-05-21 01:20] RusseII commented on #110
Perfect! Thanks @Damon

Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15
(KHTML, like Gecko) Version/12.1 Mobile/15E148 Safari/604.1

That is the user agent I got from the site you sent.

On Mon, May 20, 2019 at 9:17 PM Damon Oehlman <notifications@github.com>
wrote:

[2019-05-21 01:45] RusseII commented on #110
Here is the UA I got from the site while in real safari ... it looks like
they are exactly the same?

Real Safari
Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15
(KHTML, like Gecko) Version/12.1 Mobile/15E148 Safari/604.1

Webview Safari inside gmail app:
Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15
(KHTML, like Gecko) Version/12.1 Mobile/

[2019-05-23 17:41] RusseII commented on #110
@DamonOehlman anymore thoughts on this?

[2019-05-27 07:26] DamonOehlman commented on #110
@RusseII apologies got buried with other things.  They do indeed look identical.  My familiarity with ios has dropped off in recent years.  Perhaps they have lifted their game on apps having the real mobile browser rather than a webview that is lagging behind (which probably causes other problems for app developers).

[2019-05-28 12:32] Mracobes9 opened #111 "next js"
Hi. It is working on next js ?

[2019-05-31 22:32] lexoyo opened #112 "Use with typescript"
Hello
Thank you for this great lib
I can not manage to use it in silex.me which is in typescript too
Here is what i do
[code]
Then in the code
[code]
And the result is `TS2307: Cannot find module 'detect-browser'.`

I also tried installing the github repo with `npm install --save-dev DamonOehlman/detect-browser `

Here is another try:

[code]
Thank you in advance for any help

[2019-05-31 23:11] lexoyo commented on #112
As a workaround I use `import { detect } from '../../node_modules/detect-browser/index';`
I believe it is not due to detect-browser lib, but I have other modules which work fine :-/

[2019-06-10 02:38] DamonOehlman commented on #112
@lexoyo I'm going to merge in #113 which adds the `types` field into `package.json`.  From my previous reading this shouldn't be required (as the definitions are stored in `index.d.ts`) but I'd be interested if this fixes the issue for you.

[2019-06-10 02:42] DamonOehlman commented on #112
That PR has been merged and published in `4.5.1`.  I'll be interested to know if this fixes things for you.

[2019-06-10 02:44] DamonOehlman commented on #111
@Mracobes9 I have not tried it with Next.js.  In theory it should but if it doesn't please let me know.

[2019-07-04 08:41] Fjohn666 commented on #110
Hello, We have the same problem here with Safari. The browser is detected as "ios". Maybe the regex need to be updated ?

[2019-07-06 12:04] RusseII commented on #110
@Fjohn666 It seems that the current method of detection will not work as the User Agent for native Safari, and a Safari webview seem to be identical.

[2019-07-08 00:04] DamonOehlman commented on #112
@lexoyo Just wondering if you had any success with `4.5.1` - looking to close this issue if you did.

[2019-07-08 00:06] DamonOehlman commented on #110
Yep (and thanks for commenting @RusseIl) I think we have hit some limitations with iOS detection.  If anyone comes up with any ideas then we can definitely consider implementing them.

[2019-07-08 01:31] singchan commented on #112
I didn't upgrade yet
I will eventually
Maybe we should close this issue and I'll reopen it if doesn't work

[2019-07-08 01:32] lexoyo commented on #112
I didn't upgrade yet
I will eventually
Maybe we should close this issue and I'll reopen it if doesn't work

[2019-07-08 12:42] RusseII commented on #110
I am not sure how to do it with purely a regex, but right now I'm using this library https://github.com/muaz-khan/DetectRTC, which lets me identify if someone is using a safari webview with:
[code]

Then you can see how they check isGetUserMediaSupported here: https://github.com/muaz-khan/DetectRTC/blob/master/dev/DetectRTC.js

Maybe we can do something similar to this approach?

[2019-07-09 08:45] #112 closed

[2019-07-09 08:49] DamonOehlman commented on #110
@RusseII nice workaround :)

I think rather than try to implement any kind of detection hack into `detect-browser` itself, encouraging folks to use a technique similar to what you are doing above is best.  I should probably add something to the README about this - probably a link to this issue and specifically your comment above is ideal.

[2019-07-26 08:21] jamzi opened #115 "Export Typescript types for Operating System and Browser"
Hey!. Thanks for this package, it's a lifesaver.

I was wondering if you could export Browser and OperatingSystem types from index.d.ts, so we can use them in our apps to get better type safety, instead of just comparing strings for these values.

![image](https://user-images.githubusercontent.com/2678290/61937401-10e2e480-af8f-11e9-939b-80d0167c70ed.png)

[2019-08-09 14:55] brenschmidt opened #116 "PP - 3 Wave Loading"
More details to follow.

[2019-08-09 14:56] #116 closed

[2019-08-09 22:21] #95 closed

[2019-08-30 20:24] haydenth opened #117 "Support for GSA (Google Search App)"
Great package. Thanks for doing this, I use it every day. One thing I am noticing in our logs is an increase in traffic from user agents like this:

[code]

This is from the Google Search App v 81.0.264749124 (which appears to be using ios-webview v605.1.15). Is there any way this package can detect the GSA version versus the ios-webview version, or preferably both?

[2019-09-06 09:50] mdr commented on #115
Just wanted to 👍 this -- in our app we've ended up duplicating the type declarations for `Browser` and `OperatingSystem` (which can then might drift over time from the ones used by `detect-browser`).

[2019-09-08 01:22] DamonOehlman commented on #115
Super sensible request.  I'll add those exports now and publish a new minor version.  Apologies for the delay, I'm terrible at keeping track of my issue inbox.

[2019-09-08 01:35] DamonOehlman commented on #117
@haydenth despite not getting back to you until now, I've put a bit of thought into this and thinking about what we can do.  I think my previous assumption that I could make a binary distinction between a bot/crawler and a "human-driven" browser was a little optimistic, as I suspect there is a lot of grey in the middle as you have pointed out.

So... what's the solution?  Well, it would take a lit

[2019-09-08 02:24] #115 closed

[2019-09-08 02:26] DamonOehlman commented on #115
Just published `4.7.0` which includes these types exported.

[2019-09-09 15:03] haydenth commented on #117
Hey - thanks for the response. So maybe it might help if I describe the post-processing we do with data coming out of the `detect-browser` library. The library works :100: in 99% of the cases but I have some special logic that grabs two things:

- Bots: Mostly Google + Baidu. Easily filterable by looking at the `user-agent`. I just append an `is_bot` flag to browser data.
- (Sub) Browsers: The mai

[2019-09-13 14:33] haydenth commented on #117
cc @ryanmchenry2 who works with me and has access to a collection of janky old phones on his desk right now

[2019-09-25 14:49] andyWynyard commented on #111
Im using this to yell at people who are using IE. Its fine.

[2019-10-10 15:58] avcohen opened #121 "Support for UIWebView"
Currently calling `browser()` returns null in this environment.

Issue was found on iOS when navigating to a UIWebView via in-app browsers (Facebook & Snapchat).

[2019-10-13 09:24] DamonOehlman commented on #121
@avcohen thanks for reporting the issue.  Any chance you can capture the user agents in that UIWebView so I can investigate further?  Unfortunately I have limited access to iOS devices.

[2019-10-14 16:07] avcohen commented on #121
No problem at all. Here's the output from `navigator.userAgent`:

`Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_1 like Mac OS X) AppleWebKit/603.1.30 (KHTML, like Gecko) Mobile/14E8301`

[2019-10-15 09:45] the-J commented on #111
Works as expected on next.js.

[2019-10-15 22:42] DamonOehlman commented on #111
@andyWynyard @the-J thanks both for confirming it's working.  I'll close the issue.

[2019-10-15 22:42] #111 closed

[2019-10-24 13:49] amok commented on #105
any news on this?

[2019-10-25 00:17] DamonOehlman commented on #105
Apologies for the delay folks.  Any chance you can take the PR #122 for a run and see if it works for your detection?  If it's a bit of a difficult task, then I'm pretty confident that it's ok so I'll likely just :shipit:

[2019-10-25 00:22] DamonOehlman commented on #121
@avcohen Thanks mate - out of interest what do you think the version number should be on this detection?  It looks like `603.1.30` or `14E8301` would both be valid options.  Not being familiar with the platform I'm not really sure.

Additionally, with a bit of reading it looks like `UIWebView` has been deprecated in favour of `WKWebView` so I guess I need to be considering that for UA detection al

[2019-10-25 00:26] DamonOehlman commented on #121
Actually... doing some testing with this locally now, I can see that the UA string provided above already satisfies the current uiwebview regex and thus this is the result returned from detection:

[code]

(obviously I decided the `603.1.30` was the appropriate version number)

I think what is happening is that both Facebook and Snapchat have updated their apps to use the `WKWebView` and the UA de

[2019-10-25 00:28] DamonOehlman commented on #121
Also remembering that an app can set a custom useragent also, so... may need a more detailed investigation.

[2019-10-25 11:17] amok commented on #105
@DamonOehlman thanks for the fast reply

Tested on IOS MS Edge:

![image](https://user-images.githubusercontent.com/1369559/67567152-15f03500-f732-11e9-87ab-bb067c5f2ceb.png)

[2019-10-26 05:47] #105 closed

[2019-10-26 05:49] DamonOehlman commented on #105
@amok thanks for testing.  Merged down the branch and published `4.8.0`

[2019-10-28 15:26] katyapavlenko opened #123 "Type 'Timer' is not assignable to type 'number'"
After adding this package to my angular project, I got compilation errors. If i remove the module import, everything operates normally

[code]
  leads to ` error TS2322: Type 'Timer' is not assignable to type 'number'.`
If i remove import – everything operates normally

versions:
[code]

[2019-10-28 22:53] DamonOehlman commented on #123
@katyapavlenko I'm familiar with this error as I've seen it in TS projects that use `setInterval` / `setTimer`.  The issue is usually due to the fact that both of these functions are defined as having one return type for the DOM definitions (`lib.dom.d.ts`) and the node types (`@types/node`).

The only reason I can think that the inclusion of `detect-browser` is triggering this condition is that `

[2019-10-29 09:28] katyapavlenko commented on #123
I don't like hacks like this, so i just used `browser-detect` instead of this lib :(

[2019-10-29 22:40] DamonOehlman commented on #123
Cool, no problem at all - glad you found a solution.

The fact that `browser-detect` works and this package does not makes me wonder if it's something that's influenced by the TypeScript version.  You are using `2.x` and the `browser-detect` package is also on a `2.x` build, whereas this repo is built against `3.x`.  If I get some time at some stage I'll do an investigation around that.

Thanks ag

[2019-11-05 09:40] aaabidunique opened #124 "CDN support required"
I have an old project which required cdn based script inclusion.
Can you please provide me cdn for the library so I can use it.
@DamonOehlman

[2019-11-05 23:45] DamonOehlman commented on #124
@aaabidunique Sure - I've been thinking about doing this for a while.  I'll look at outputting a UMD build as part of the package and then a service like [unpkg](https://unpkg.com/) should work.

[2019-11-06 10:07] mausworks commented on #8
Sorry for bumping this very old issue.

I'm using your plugin for a library which is used in both NodeJS and browser-applications, and its working great, thank you! 😄

However, when calling `detect` in React Native, `null` is returned.

**Is react native in scope?**

If so, I can have a look at what information is readily available, and submit a PR detect `ReactNativeInfo`.

[2019-11-06 10:09] mausworks commented on #123
The solution to this is to use `window.setInterval` instead of `setInterval`.

Assuming global context is a bad idea anyways. :)

[2019-11-06 10:19] katyapavlenko commented on #123
You are right, but in terms of developing an opensource package it's better to be ready for any code and not only for proper one :)

[2019-11-06 22:42] DamonOehlman commented on #8
@mausworks Thanks for the offer of the PR.  I think if we are able to provide react native detection with minimal overhead then it definitely makes sense.

[2019-11-06 23:26] DamonOehlman commented on #8
Rereading the issue history I can see that it should be as simple as checking `navigator.product`, so yes I definitely think `detect-browser` should support it.

[2019-11-29 16:05] mungojam commented on #99
This will become important for us when the chromium based Edge starts to appear widely because it can probably be treated the same as Chrome in most cases

[2019-11-29 16:11] mungojam commented on #99
just seen that you have `edge-chromium` as a specific entry already, so it isn't so important

[2019-11-30 16:25] lukepighetti opened #125 "Browser version is "node""
Working on a Nuxt project and `detect-browser` keeps saying `browser.name` is `node`

[2019-12-01 01:28] DamonOehlman commented on #125
@lukepighetti I haven't worked with Nuxt yet (but it looks interesting).  This sounds like a code path for detection might be getting walked during server side rendering and then serialised into client-side state.

If your project source is on github I'm more than happy to take a look.

[2019-12-01 14:41] lukepighetti commented on #125
I believe you're correct, it does seem to be a case of it being server-side rendered and then the result baked into the project. Unfortunately I don't have a reproduction for you, I'm fine with you closing this issue. Up to you.

[2019-12-01 23:00] DamonOehlman commented on #125
@lukepighetti Thanks for getting back to me.  I think if it is due to server side rendering then closing the issue is probably the most appropriate thing, so I'll do that now.

Thanks for raising the issue as it should give others who hit the same issue in the future a hint about what is going on.

[2019-12-01 23:00] #125 closed

[2019-12-04 00:14] JackCA opened #126 "Googlebot not flagged as bot"
If you take the [useragent string for the Googlebot smartphone](https://support.google.com/webmasters/answer/1061943?hl=en) bot:

`Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5X Build/MMB29P) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.96 Mobile Safari/537.36 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)`

The above will be parsed as an android device without any botinfo.

[2019-12-14 20:17] 5punk commented on #126
I think this is a good idea...

Some metadata about browsers would be handy with all the evolving IOT devices around

Thoughts @DamonOehlman ?

[2019-12-14 20:18] 5punk commented on #124
For the latest package, go [here](https://unpkg.com/browse/detect-browser/)

Additionally I'll add this to the README.md as well.

Thanks for pushing for this @aaabidunique

[2019-12-14 20:18] #124 closed

[2019-12-15 22:39] DamonOehlman commented on #126
Yep, I completely agree that it's a good idea.  I previously marked the `bot` flag as deprecated and that people should use the `name` to test for `bot` so I think it would be ok to release a new major version where `bot` returned a string that was useful (`Googlebot` in this particular case).

PR incoming.

[2019-12-17 01:59] DamonOehlman commented on #126
@JackCA resolved in #127, however, I've got a few little tasks to do before I'll release a new major version that will implement support for this improved bot detection.

[2019-12-17 02:02] DamonOehlman opened #128 "Prep for 5.x release"
With #127 landing (ability to get extended search bot information) it's appropriate to release a new major version as it does change the behaviour of the `bot` attribute that can be returned from a `detect()` call.

These tasks need to be completed for me to feel comfortable with a 5.x release:

- [x] Implement a discriminator for the various return types from a `detect()` call so that people can

[2019-12-21 09:05] gdh1995 commented on #18
@DamonOehlman Sorry to disturb you, but as said in https://vivaldi.com/press/releases/vivaldi-2-10-no-strings-attached/ , now Vivaldi does not put its name into userAgent any more.

[2019-12-22 00:22] DamonOehlman opened #129 "Remove the vivaldi user agent detection"
Given Vivaldi have [change their user agent to remove any identifiable markers](https://vivaldi.com/press/releases/vivaldi-2-10-no-strings-attached/) it seems appropriate that we remove the regex here eventually.

ref: https://github.com/DamonOehlman/detect-browser/issues/18#issuecomment-568165425

Thanks @gdh1995 for the heads up.

[2020-02-06 13:30] brookback opened #131 "Detecting MobileSafari/604.1 CFNetwork/1121.2.2 Darwin/19.3.0 as "unknown""
Hi! Thanks for a *great* package! 💛

We're seeing this UA string in our logs:

[code]

I couldn't find that in past issues – any chance it can be detected as `ios` or `ios-webview` or similar? It doesn't seem like https://github.com/DamonOehlman/detect-browser/pull/67 is covering this UA string.

I found this on SO: https://stackoverflow.com/questions/24464883/serverhttp-user-agent-changing-on-saf

[2020-02-26 02:16] DamonOehlman commented on #131
@brookback Thanks for the report mate, and apologies for the delay in responding.  I'll take a look at getting this regex in shortly.

[2020-03-07 04:23] DamonOehlman commented on #131
Just prepping a PR for this now, and having a look at the options for the return type, it feels like this is most appropriately treated as a `bot-device` return type (it seems to be a bot simulating a device).  Is that correct?

I'm thinking that the result type would look something like this (see recent changes on master re including a `type` disciminator):

[code]

Does that seem right to you?

[2020-03-07 04:29] #56 closed

[2020-03-07 04:30] #129 closed

[2020-03-07 04:31] #128 closed

[2020-03-07 04:41] #32 closed

[2020-03-07 04:50] DamonOehlman commented on #50
Cleaning up issues, this looks to be fixed in #103.  Validated that there is a test for a similar user agent to the one supplied above:

https://github.com/DamonOehlman/detect-browser/blob/master/test/logic.js#L135-L139

[2020-03-07 04:50] #50 closed

[2020-03-07 04:54] DamonOehlman commented on #17
Closing as I think this responsibility is best handled by another package, e.g. `semver`.  At some point I should probably consider leaving the versions that come through from the browser intact rather than reporting just the first 3 components of the version as this will limit what can be done with the information when passed to `semver`.

[2020-03-07 04:54] #17 closed

[2020-03-07 04:56] DamonOehlman commented on #8
@mausworks Just wondering if you had any luck on a PR?  No pressure from my side, was just going through issues and cleaning ones I could up.

[2020-03-07 04:58] DamonOehlman commented on #9
Looks like crosswalk is dead:

Will close this.

[2020-03-07 04:58] #9 closed

[2020-03-07 05:06] DamonOehlman commented on #34
Is this still an issue, I used the user agent above to do some testing and it appears to get correctly detected as a safari browser on MacOS (which looks correct).

UA string used (as text):

[code]

[2020-03-09 08:14] brookback commented on #131
Yea, I'd say so too. It's not a user controlling this request.

Type looks cool! Two things:

- The `name` prop could probably be more specific, like `ios-crawler`, `ios-safari-crawler`, or similar.
- The `os: "Mac OS"` prop seems like it's lying a bit – the bot is clearly `MobileSafari`, so it could be `ios`?

Thanks for quick turnaround!

[2020-03-23 18:16] danielrussellLA commented on #18
occasionally vivaldi puts its name in `navigator.appVersion` - but it's not reliable from what i can see with my testing

[2020-05-04 00:13] DamonOehlman commented on #8
A bit thanks to @pedrouid who has killed off the longest lived issue in the repo through PR #137.  React native detection should now work in `5.1.0`.

[2020-05-04 00:13] #8 closed

[2020-05-04 00:41] DamonOehlman opened #138 "Implementing client hints support"
A big thanks to @scottcanoni who fired through an email to me flagging the upcoming deprecation and freezing of the Chrome UA string, which will mean that detection of Chrome will be version locked at Chrome 85 as we move into the future.

see: https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/-2JIRNMWJ7s/yHe4tQNLCgAJ

Now I've had a quick gloss over the client hints API (what's comin

[2020-06-15 00:45] matiaslopezd opened #141 "UCBrowser is not detected correctly"
This was tested in Browserstack and with the following libraries:

1.detect-browser 5.1.0
2.  bowser 2.9.0
3. ua-parser-js 0.7.21

![image](https://user-images.githubusercontent.com/23618492/84608312-d7091e00-ae7f-11ea-8976-ca1fb853a7e5.png)

[2020-06-16 00:38] ashubham opened #142 "es/index.js is not present in the published module"
The `package.json` mentions `module: es/index.js` as the ES Module entry point for this package.

But, the file is not present in the published package.

Version: 5.1.0

[2020-06-16 03:47] DamonOehlman commented on #142
Thanks @ashubham - I'll get that sorted in the next 24 hours.

[2020-06-16 11:09] DamonOehlman commented on #142
@ashubham Published `5.1.1` which has the missing file.  Let me know if that fixes things for you.  I've additionally made a change in the repo which should hopefully prevent this happening again in the future.  Thanks again for filing the issue.

[2020-06-17 08:59] ashubham commented on #142
Thanks @DamonOehlman . Works now!

[2020-06-17 08:59] #142 closed

[2020-06-24 07:43] Yiniau opened #144 "[Feature] esm specification export is required"
### esm specification export is required

I'm try the solution like snowpack builder, found the rollup commonjs plugin cannot handled multi output in detect-browser( base
 on node_modules/detect-browser/index.js )

there exsist es build scripts in package.json and seem to good to work too, but why ignored it in .npmignore

[2020-06-24 07:55] DamonOehlman commented on #144
There should be as of `5.1.1` - see #143 which fixed this issue.  `5.1.0` had the issue of advertising an ESM export but it wasn't included in the package contents - originally reported in #142.

If there is a particular syntax that snowpack requires for recognising the esm module - let me know and I can take a look.

[2020-06-24 08:07] Yiniau commented on #144
thx, there no special writing required

i see the 5.1.1 contained es folder, THX

[2020-06-24 08:07] #144 closed

[2020-07-30 01:37] alanhogan opened #145 "Changelog?"
Updating this dependency from 5.0 to 5.1, I don’t see an easy way to see what’s new between these releases. I would especially like to see a changelog for major version bumps. Thanks

[2020-07-30 01:39] DamonOehlman commented on #145
I'm happy to link to the releases page in the README somewhere, I tend to favour updates there rather than a separate `CHANGELOG.md` file:

https://github.com/DamonOehlman/detect-browser/releases

[2020-07-30 01:44] alanhogan commented on #145
ah, wouldn't you know it, I did try the "tags" thing from the project root here on GH, but I didn’t see any link to Releases or check that. Thanks.

+1 to the idea of a prominent link to this from README!

[2020-08-06 00:25] ldttmt opened #146 "How to detect Firefox browser in iOS"
Hi, thanks for a great package 🏅
It seems Firefox browser in iOS now returns "Safari" as browser name instead of "FxiOS" as before. Is there any other way to detect it in iOS?
Here is the UA from Firefox in my iPad:
[code]

[2020-08-16 17:44] rayshan opened #148 "I made a demo link for you"
Hi! Thanks for this, works really well! So much better than the giant stackoverflow posts.

I noticed that there's no demo, so I made this: https://observablehq.com/@rayshan/browser-detection-tester-using-the-detect-browser-package. Good idea to put it in README?

[2020-08-16 23:11] DamonOehlman commented on #148
@rayshan Absolutely - that's a fantastic idea!

Did you want to update your URL to `browser-detection` rather than the current `browswer-detection`?

[2020-08-17 00:05] rayshan commented on #148
🤦‍♂️ fixed, it's a little long now but probably good for SEO.

[2020-08-17 02:22] #145 closed

[2020-08-17 02:22] #148 closed

[2020-08-17 02:23] DamonOehlman commented on #148
@rayshan added to the README - thanks for putting the workbook together :)

[2020-08-17 02:23] DamonOehlman commented on #145
Added to the readme - and pretty close to the top :)

[2020-10-08 00:12] GaryHyland opened #151 "Android Edge Chromium no longer detected"
The User Agent for this is now
Mozilla/5.0 (Linux; Android 9; SM-N950F) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.116 Mobile Safari/537.36 EdgA/45.08.4.5074
This no longer matches the test. This is quite a popular browser, so would be good to recognise, pretty easy change to the test also.

[2020-10-08 00:21] DamonOehlman commented on #151
@GaryHyland thanks for the report - I'll add a breaking test for that user agent and then fixup the regex to ensure the package provides useful output.

[2020-10-08 12:23] #151 closed

[2020-10-08 12:26] DamonOehlman commented on #151
Published as `5.2.0`

[2020-10-14 15:18] LeComptoirDesPharmacies opened #153 "Bug on "Old" Safari : Wrong version detection"
Hi,

It seems that there is a bug in UserAgent parsing when it is run on "old" Safari Browser.
Ex :
`Mozilla/5.0 (iPhone; CPU iPhone OS 9_0_1 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13A405 Safari/601.1`
Result is :
`BrowserInfo {name: "ios", version: "9...0", os: "iOS", type: "browser"}`

However, "9...0" is not semver compliant.
This is due to the fact that Safa

[2020-10-14 15:45] LeComptoirDesPharmacies commented on #153
PR proposal here : https://github.com/DamonOehlman/detect-browser/pull/154

[2020-11-30 18:00] NeoHoffa commented on #146
has this been addressed yet?

[2020-12-01 11:09] DamonOehlman commented on #146
@NeoHoffa I haven't done anything here as yet, because honestly, I'm not sure what options we have.  In many ways it makes sense that this is returned as Safari, because that's pretty much what it is on iOS as far as I understand things.  Just wrapped up slightly differently, but from a rendering engine perspective it's almost exactly the same 🤷‍♂️

[2020-12-16 06:00] max-programming commented on #99
I think it is good to remove the `edge` entry now because Edge Chromium is now known as the standard Edge browser

[2020-12-23 23:25] GLBaird opened #157 "Bug on old Firefox <= V38"
`TypeError: can't supply flags when constructing one RegExp from another`

Code causes critical failure of app. Have had to remove this code to use a more reliable browser detection. Sadly.

This happens in old versions of browsers, can confirm FF38 and less -- only tested and confirmed on FireFox, possibly happens on others too.

[2020-12-23 23:47] #157 closed

[2020-12-23 23:48] GLBaird commented on #157
After further testing decided I could not prove this was your framework, but could be something else in the app stack.

[2021-02-12 12:05] SilantiFross opened #158 "Opera browser is not detected"
Hi, guys. Thanks for this package!

I have some issues with this user agent:
```Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36 OPR/73.0.3856.344/mwAV8hqc-53```

I think ```/OPR\/([0-9\.]+)[\s]*?(\(.*\)|$)$/``` RegExp almost made it, but we have asserts position at the end of a line.

Can we remove $?

[2021-02-15 11:01] jeynergil opened #159 "Unable to detect Brave Browser"
This is an awesome package.

Can it detect Brave Browser?

Using Brave, it returned this:

[code]

Thanks!

[2021-02-16 23:26] DamonOehlman commented on #159
@jeynergil If you can capture the user agent string I can take a look.

[2021-02-19 00:05] franciscop opened #160 "Add CURL detection"
I'd like to suggest adding CURL support. Curl shows up as:

[code]

So I'd like to suggest adding CURL parsing resulting in:

[code]

Is this okay? I can [make a PR according to the docs](https://github.com/DamonOehlman/detect-browser#adding-additional-browser-support), but was unsure about both the "os" and "type" field.

[2021-02-19 00:08] DamonOehlman commented on #160
@franciscop I'm definitely in favour of this.  I think `null` is good for the `os` for now.  At some point I might look at converting the `null` return result to an additional literal of `unknown` but that would be for later and a major release as it would be a breaking change.  So I think what you have suggested in this issue, is perfect 👍🏻

[2021-02-19 08:23] franciscop commented on #160
Done! Not exactly as I originally suggested, since it seems the code "guided me" to a slightly different structure, [see the PR for details](https://github.com/DamonOehlman/detect-browser/pull/161).

[2021-02-20 08:43] jeynergil commented on #159
Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.152 Mobile Safari/537.36

[2021-02-22 08:26] #160 closed

[2021-02-22 18:51] dFilipkowski0131 commented on #159
i dont believe it will provide your brave due to the fact that edge and brave are both chromium browsers at their base level

[2021-02-23 00:35] DamonOehlman commented on #159
@jeynergil @dFilipkowski0131 based on that user agent string, I feel like that is definitely going to be the case.  Feels like at some stage `detect-browser` should be returning something "less specific".  I've been running Brave for the last couple of weeks for personal use, and I just looked at the user agent here on my laptop and despite running on Windows I see exactly the same user agent stri

[2021-02-24 16:26] Benibur commented on #159
you can detect Brave this way (I tested) :
`(navigator.brave && await navigator.brave.isBrave() || false)`
found here : https://stackoverflow.com/a/60954062

[2021-03-31 02:40] feross commented on #146
There are subtle differences between Firefox iOS and Safari. In particular, you can't click on a blob url to trigger a file download in any browser except Safari because WebViews are broken. Would be nice if we could figure out a way to detect Firefox to workaround this.

[2021-03-31 11:18] DamonOehlman commented on #146
Interestingly mozilla-mobile/firefox-ios#6620 has been triaged as a bug and included on a project in that repo.  Perhaps they are looking to get the `FxiOS` string back as part of the UA?

[2021-04-01 03:53] iceleo-com opened #162 "`this` has been rewritten to `undefined` on the new version of rollup"
Hi sir/madam,

I run into this issue with the latest version of rollup js

[code]

May you adjust your lib to work with rollup js?

Thankyou for your hard work!

[2021-04-01 04:39] DamonOehlman commented on #162
I will definitely take a look - thanks for reporting the issue!

[2021-04-02 18:24] martonlederer commented on #159
You can also make a request to `https://api.duckduckgo.com/?q=useragent&format=json` and that shows Brave as a user-agent

[2021-04-05 18:31] roblourens opened #163 "Does not detect iOS on newer versions"
The useragent alone is no longer sufficient for detecting iOS. Seems like the general recommended technique is to check maxTouchPoints.

https://stackoverflow.com/a/58065241/129895

I don't have an iOS device to test, so I don't want to submit a PR right now, I just have a report that this isn't working for a user's iPad.

[2021-04-21 10:39] nicoknoll commented on #163
Same issue here

[2021-07-06 10:02] ChamupathiThirdfort opened #165 "Browser detection incorrectly identify chrome as unsupported"
[this](https://github.com/thirdfort/web-app/blob/610d8a934a3d0e17e29bfb73977eeba6bd6d40b7/lib/browser.js#L3) method of browser detection is not detecting latest chorme versions

[2021-07-06 10:02] #165 closed

[2021-08-08 07:14] MaoliWolf commented on #18
As you mention the point that Vivaldi doesn't send userAgent, is checking the window size possible? Vivaldi has its own sidebar and bottom bar. It may return the wrong browser, but I think you can try

[2021-08-09 06:26] DamonOehlman commented on #18
@MaoliWolf I think that is definitely something that is better left to an application to do rather than this package.  If a site really does need to know if vivaldi is being used and using `detect-browser`, then it could do some further investigation on those screen sizes.  I definitely wouldn't want to rely on it though, because screen sizes are things that change.  A LOT.

[2021-08-28 20:02] itsmeneartou opened #167 "Getting browser name in cloud functions"
I use firebase cloud functions `https` trigger to redirect user different links based on the user's browser currently I am getting `browser.name` as `node`. Is there any way I can give `user-agent` parameter to `detect-browser` so that it forcefully detects browser name using `user-agent` as for a real browser and not use `process.version` of node?

[2021-09-16 23:42] DamonOehlman commented on #163
@roblourens @nicoknoll Any chance you can both provide a bit more of an example of the kinds of things you are tailoring in your apps/sites once you know it is an iPad?  Just trying to work out how a combination of UA sniffing and feature detection might be combined to help solve these use cases.

My thinking is that rather than updating `detect-browser` to attempt to definitively identify a parti

[2021-09-16 23:48] DamonOehlman opened #169 "Browser detection recipes"
A number of issues in the issues list talk about how browsers are starting to limit how they can be detected through user agent sniffing.  So to assist with people who still rely on knowing what a particular browser is, I think it might be worth putting a list of recipes together (probably in the Wiki) so people can start to share their workarounds for being able to detect a particular browser.

A

[2021-09-19 06:17] jagregory commented on #163
Not one of the people you asked, but I just stumbled across this so below is one of my use cases:

1. I allow users to record a video of themselves and upload it to my app. When viewing from a desktop (any browser) you're presented with a button to record yourself (using https://collab-project.github.io/videojs-record) and another button to upload a file you've recorded offline.
2. On iOS, the bui

[2021-09-19 08:47] jagregory commented on #163
I just remembered another use case of mine: providing device specific instructions to users. With the example above the user is prompted to give permission for the site to access their camera and microphone; if they decline this access, we need to give them instructions how to change the setting later, which is quite a different set of steps for iOS vs Mac.

[2021-09-21 10:33] rj-david opened #170 "facebook and instagram inapp browser tagged as chrome-webview"
Is it possible that for the webviews, we also test if these are from faceook or Instagram?

[2022-02-25 04:20] iulo commented on #162
still got this warning. I read @xon52 refs, seems work when set this package in external. But I need make it bundle in my package. Any help is appreciated

[2022-03-03 21:51] Rexogamer opened #173 "Detect Windows 11"
Currently, W11 is detected as 10. This is due to the fact that 11's kernel version is still `10.0`. To detect whether a user is using 10 or 11, it seems as though the library may have to use [client hints](https://docs.microsoft.com/en-us/microsoft-edge/web-platform/how-to-detect-win11) - however, [Firefox doesn't currently support these](https://bugzilla.mozilla.org/show_bug.cgi?id=935216) and it

[2022-03-11 19:18] prsdthkr opened #174 "Prepare for Chrome User-Agent reduction"
https://developer.chrome.com/docs/privacy-sandbox/user-agent/

[2022-05-03 17:09] AndreKR opened #176 "ios-webview version"
The user agent
[code]
and other similar user agents are detected as:
[code]

I'm *assuming* that this user agent corresponds to what caniuse.com calls "Safari on iOS" ([Example](https://caniuse.com/flexbox-gap)) and that the `15_3_1` in the user agent is the actual useful version information?

I don't know what the version number 605.1.15 means, but it doesn't seem particularly useful as I haven't

[2022-06-14 09:45] alessio-mms commented on #174
Any updates on this?

[2022-08-02 12:44] CyrilQuandalle opened #178 "Typing leakage on global environment variable."
Hi.

I have just installed the version 5.3.0 of the library, and as soon as I do an import of it the typing of any variable in `process.env` (ex : process.env.MYVAR) goes from `any` to `string | undefined`.

Is it intentional ? I think that a library shouldn't have that kind of side effect.

Thanks in advance for your answer

[2022-10-06 00:13] DamonOehlman commented on #178
@CyrilQuandalle agreed - if that is the case, that is very much unwanted.  Will have a look at the typings and see if I can get to the bottom of things.